<!DOCTYPE html>
<html>

<head>

    <title>AI Support Copilot</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body class="landing-page">

    <nav class="landing-navbar">

        <div class="logo">
            AI Copilot
        </div>

        <div class="nav-links">

            <a href="/login">
                Login
            </a>

            <a href="/signup" class="nav-register-btn">
                Sign Up
            </a>

        </div>

    </nav>

    <div class="landing-container">

        <div class="hero-section">

            <h1>
                AI Support Copilot
            </h1>

            <p>
                AI-powered customer support assistant
                for faster conversations, smarter automation,
                and modern SaaS workflows.
            </p>

            <div class="hero-buttons">

                <a href="/login" class="hero-btn primary-btn">
                    Start chatting
                </a>

                <a href="/signup" class="hero-btn secondary-btn">
                    Create account
                </a>

            </div>

        </div>

        <div class="preview-card">

            <div class="preview-header">
                AI Dashboard Preview
            </div>

            <div class="preview-chat">

                <div class="chat-row user-row">

                    <div class="chat-avatar blue-avatar">
                        U
                    </div>

                    <div class="chat-bubble user-bubble">
                        How can I reset password?
                    </div>

                </div>

                <div class="chat-row ai-row">

                    <div class="chat-avatar green-avatar">
                        AI
                    </div>

                    <div class="chat-bubble ai-bubble">
                        Go to settings and click reset password.
                    </div>

                </div>

                <div class="mini-stats">

                    <div class="stat-card">
                        <h3>92%</h3>
                        <p>Resolution Rate</p>
                    </div>

                    <div class="stat-card">
                        <h3>24/7</h3>
                        <p>AI Support</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>